<h1>Libraries</h1>

<div class="well">
    <ul class="nav nav-pills">
        {{#link-to "libraries.index"}}<a href="">List All</a>{{/link-to}}
        {{#link-to "libraries.new"}}<a href="">Add New</a>{{/link-to}}
    </ul>
</div>

{{outlet}}